<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
		<!-- <link href="http://localhost:3001/dist/output.css" rel="stylesheet" /> -->
		<script src="http://localhost:4444/dist/bloggrs.umd.js"></script>
		<script src="https://cdn.tailwindcss.com"></script>
		<% preact.headEnd %>
	</head>
	<script>
		// tailwind.config = {
		// 	theme: {
		// 		screens: {
		// 		'2xl': {'max': '1535px'},
		// 		// => @media (max-width: 1535px) { ... }

		// 		'xl': {'max': '1279px'},
		// 		// => @media (max-width: 1279px) { ... }

		// 		'lg': {'max': '1023px'},
		// 		// => @media (max-width: 1023px) { ... }

		// 		'md': {'max': '767px'},
		// 		// => @media (max-width: 767px) { ... }

		// 		'sm': {'max': '639px'},
		// 		// => @media (max-width: 639px) { ... }
		// 		}
		// 	}
		// }
	</script>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
